# Dependency directories
node_modules/
dist/

# Playwright artifacts
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure Report artifacts
/allure-results/
/allure-report/

# Environment variables and secrets
.env